In [4]:
import pandas as pd

In [34]:
data = pd.read_csv("heart.csv")
df = pd.DataFrame(data)
print(df)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [35]:
# Age
# print(df["age"].min())
# print(df["age"].max())

# Create the bins in which Data will be held
# Bins are 0, 40, 50, 60, 70, 80.   
bins = [0, 40, 50, 60, 70, 80]

# Create the names for the five bins
group_names = ["<40", "40-50", "50-60", "60-70", "70-80"]  

df["Age Range"] = pd.cut(df["age"], bins, labels=group_names, include_lowest=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,Age Range
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,50-60
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,50-60
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,60-70
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,60-70
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,60-70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,50-60
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,50-60
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,40-50
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,40-50
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,50-60

In [36]:
#Trestbps
print(df["trestbps"].min())
print(df["trestbps"].max())

# Create the bins in which Data will be held
# Bins are 0, 40, 50, 60, 70, 80.   
bins = [0, 125, 150, 175, 200]

# Create the names for the five bins
group_names = ["<125", "125-150", "150-175", "175-200"]  

df["Trestbps Range"] = pd.cut(df["trestbps"], bins, labels=group_names, include_lowest=True)
df

94
200

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,Age Range,Trestbps Range
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,50-60,<125
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,50-60,125-150
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,60-70,125-150
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,60-70,125-150
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,60-70,125-150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,50-60,125-150
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,50-60,<125
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,40-50,<125
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,40-50,<125
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,50-60,<125

In [37]:
#Chol
# print(df["chol"].min())
# print(df["chol"].max())

# Create the bins in which Data will be held
# Bins are 0, 40, 50, 60, 70, 80.   
bins = [0, 200, 300, 400, 500, 600]

# Create the names for the five bins
group_names = ["<200", "200-300", "300-400", "400-500", "500-600"]  

df["Chol Range"] = pd.cut(df["chol"], bins, labels=group_names, include_lowest=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,Age Range,Trestbps Range,Chol Range
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,50-60,<125,200-300
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,50-60,125-150,200-300
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,60-70,125-150,<200
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,60-70,125-150,200-300
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,60-70,125-150,200-300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,50-60,125-150,200-300
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,50-60,<125,200-300
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,40-50,<125,200-300
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,40-50,<125,200-300
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,50-60,<125,<200

In [39]:
#Thalach
print(df["thalach"].min())
print(df["thalach"].max())

# Create the bins in which Data will be held
# Bins are 0, 40, 50, 60, 70, 80.   
bins = [0, 100, 125, 150, 175, 300]

# Create the names for the five bins
group_names = ["<100", "100-125", "125-150", "150-175", "175-300"]  

df["Thalach Range"] = pd.cut(df["thalach"], bins, labels=group_names, include_lowest=True)
df

71
202

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,Age Range,Trestbps Range,Chol Range,Thalach Range
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,50-60,<125,200-300,150-175
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,50-60,125-150,200-300,150-175
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,60-70,125-150,<200,100-125
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,60-70,125-150,200-300,150-175
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,60-70,125-150,200-300,100-125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,50-60,125-150,200-300,150-175
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,50-60,<125,200-300,125-150
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,40-50,<125,200-300,100-125
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,40-50,<125,200-300,150-175
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,50-60,<125,<200,100-125